
html{
  font-size:62,5%;
  box-sizing: border-box;
}

body{
  margin:0;
  height:100vh;
  font-size:0.8rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%; 
}

.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows:5rem 1fr 5rem;
  height:100%;

}

header{
  grid-area: header; /*polaczenie tego elemntu z grid-template-areas ->header */
  background-color: #004896;
  padding:1rem;
}

footer{
  grid-area:footer;
  background-color:#004896;
  color:#ffffff
}



a.brand {
  font-size:1.1rem;
  font-weight: bold;
  color: rgb(255, 255, 10);
}
a.brand:hover{
  color:#000000
}
button{
  padding:1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(185, 183, 183); 
  font-family:Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 184, 16);
  cursor: pointer;
}
button.primary{
  margin-top: 1rem;
    background-color: rgb(250, 184, 16);
}
button.block{
  width: 100%;
}
button:hover{
  border:0.1rem solid hsl(0, 3%, 61%);
}

/***********/
header a{
  
  color:white;
  padding: 1rem; /* 1rem w tym przypadku 10px  */
}
a:hover{
  color:#c2c1c1;
}
url{
  padding:0;
  margin:0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color:#000000;
  font-weight: bold;
}
li{
  margin-top: 1rem;
}


.row{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  font-size:0.8rem;
}
.row.center{
  justify-content: center;
}
.row.top{
  align-items: flex-start;
  }
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 10rem;
  width: 100%;
}
img.large{
width:100%
}

.col-1{
  flex: 2 1 10rem;
}
.col-2{
  flex: 2 1 10rem;
}



.card{
  border:0.1rem #c2c1c1 solid; /*1px */
  background-color:#f3f3f3;
  border-radius: 0.5rem;
  margin: 1rem;
}
h1{
  font-size:1rem
}

.card-body {
  padding: 0.1rem;
}
.card-body > *{     /*przepisanie stylow do child-element */
margin-bottom: 0.1rem;
}
.card:hover{
border:0.1rem rgb(141, 139, 139) solid;
}

p{
  font-size: 1rem;
  padding: 0.1rem 0;
}

.price{
  font-size:1.2rem;
}

/*rating section */
.rating span{
  color:#ffd700;
  margin: 0.1rem;
}
.rating span:last-child {
  color:#000000;
}

/*Alert */
.success{
  color:hsl(120, 79%, 26%);
  font-weight: bold;
}
.danger{
  color:hsl(0, 71%, 49%);
  font-weight: bold;
}
.alert{
  padding: 1rem;
  border:0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color:#70d4d4;
  background-color:#e0e0ff;
}

.alert-danger{
  color:#ff0000;
  background-color:hsl(0, 63%, 82%);
}